<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>E:\maven\local\repo</localRepository>
	<pluginGroups>
	</pluginGroups>
	<proxies>
	</proxies>
	<servers>
		<server>
          		<id>ecmp-Snapshots</id>
          		<username>ecmpadmin</username>
          		<password>ecmpadmin</password>
		</server>
	</servers>
	<mirrors>
    </mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>iUAP-Snapshots</id>
					<name>iUAP-Snapshots</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/iUAP-Snapshots/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>nexus</id>
					<name>Nexus</name>
					<url>http://172.16.51.12:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>apache-snapshots</id>
					<name>apache-snapshots</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/apache-snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>Nuxeo</id>
					<name>Nuxeo</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/Nuxeo</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iUAP</id>
					<name>iUAP</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/iUAP/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iWeb</id>
					<name>iWeb</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/iWeb/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<name>central</name>
					<url>http://172.16.51.12:8081/nexus/service/local/repositories/iUAP-Stagings/content/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>thirdparty</id>
					<name>thirdparty</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>3rdsnapshot</id>
					<name>3rdsnapshot</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/3rdsnapshot</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>UAP_WEB2.0</id>
					<name>UAP_WEB2.0</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/UAP_WEB2.0</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central-m1</id>
					<name>central-m1</name>
					<url>http://172.16.51.12:8081/nexus/content/shadows/central-m1</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>uapbpm</id>
					<name>uapbpm</name>
					<url>http://172.16.51.12:8081/nexus/service/local/repositories/UAP_BPM_Releases/content/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>releases</id>
					<name>releases</name>
					<url>http://172.16.51.12:8081/nexus/repositories/releases</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://172.16.51.12:8081/nexus/repositories/snapshots</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>Nuxeo</id>
					<name>Nuxeo</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/Nuxeo</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>iUAP-Snapshots</id>
					<name>iUAP-Snapshots</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/iUAP-Snapshots/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>nexus</id>
					<name>Nexus</name>
					<url>http://172.16.51.12:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>iWeb</id>
					<name>iWeb</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/iWeb/</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<name>central</name>
					<url>http://172.16.51.12:8081/nexus/service/local/repositories/iUAP-Stagings/content/</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
		<!--	<pluginRepository>
					<id>UAP_WEB2.0</id>
					<name>UAP_WEB2.0</name>
					<url>http://172.16.51.12:8081/nexus/content/repositories/UAP_WEB2.0</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>-->
				<pluginRepository>
					<id>thirdparty</id>
					<name>thirdparty</name>
					<url>http://172.16.51.12:8081/nexus/repositories/thirdparty</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>3rdsnapshot</id>
					<name>3rdsnapshot</name>
					<url>http://172.16.51.12:8081/nexus/repositories/3rdsnapshot</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central-m1</id>
					<name>central-m1</name>
					<url>http://172.16.51.12:8081/nexus/content/shadows/central-m1</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>uapbpm</id>
					<name>uapbpm</name>
					<url>http://172.16.51.12:8081/nexus/service/local/repositories/UAP_BPM_Releases/content/</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>maven-java-net</id>
			<repositories>
			  <repository>
				<id>maven-java-net</id>
				<name>maven-java-net</name>
				<url>https://maven.java.net/content/repositories/releases/</url>
				<releases>
				<enabled>true</enabled>
				</releases>
				<snapshots>
				<enabled>true</enabled>
				</snapshots>
				<layout>default</layout>
			  </repository>
			</repositories>
		</profile>
		<profile>
			<id>central-maven-org</id>
			<repositories>
			  <repository>
				<id>central-maven-org</id>
				<name>central-maven-org</name>
				<url>http://central.maven.org/maven2</url>
				<releases>
				<enabled>true</enabled>
				</releases>
				<snapshots>
				<enabled>true</enabled>
				</snapshots>
				<layout>default</layout>
			  </repository>
			</repositories>
		</profile>
		<profile>
			<id>repo1-maven</id>
			<repositories>
			  <repository>
				<id>repo1-maven</id>
				<name>repo1-maven</name>
				<url>http://repo1.maven.org/maven2</url>
				<releases>
				<enabled>true</enabled>
				</releases>
				<snapshots>
				<enabled>true</enabled>
				</snapshots>
				<layout>default</layout>
			  </repository>
			</repositories>
		</profile>

		<profile>
			<id>downloadSources</id>
			<properties>
				<downloadSources>true</downloadSources>
				<downloadJavadocs>true</downloadJavadocs>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>maven-java-net</activeProfile>
		<activeProfile>central-maven-org</activeProfile>
		<activeProfile>repo1-maven</activeProfile>

		<activeProfile>nexus</activeProfile>
		<activeProfile>downloadSources</activeProfile>
	</activeProfiles>
</settings>
